#circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: teal;
}

#square {
    height: 70px;
    width: 70px;
    background-color: aqua;
}

.actions {
    margin: 10px 0;
}
